/* BLOCK */
.bandcamp-block-message {color:#000;height:auto;padding:2rem 1rem;width:auto;border:1px solid #ccc;display:flex;align-items:center;justify-content:center;}
.bandcamp-block-message svg {height:2em;width:auto;margin-right:1em;}
.bandcamp-block-message svg path {fill: #000;}
.bandcamp-block-message.bandcamp-block-error {border-color:red;color:red;}
.bandcamp-block-message.bandcamp-block-error svg path {fill:red;}

/* GLOBAL */
.bandcamp-embed {position:relative;margin:0px auto;}
.bandcamp-embed * {position:relative;padding:0;margin:0;box-sizing:border-box;}
.is-root-container .bandcamp-embed {pointer-events:none;}

.bandcamp-embed iframe {margin:0px;width:100%;}